.thumbNailGradient {
  background: #443e48;
  background: radial-gradient(
    circle,
    rgba(133, 133, 133, 1) 0%,
    rgba(34, 32, 33, 1) 120%
  );
}

.innerCircleGradient {
  background: rgb(99, 31, 167);
  background: linear-gradient(
    337deg,
    rgba(99, 31, 167, 1) 30%,
    rgba(241, 137, 149, 1) 100%
  );
}
